<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"  href="{{url_for('static',filename='style.css')}}">
</head>
<body>
<div class="header">
<h2>US Adult Income Prediction</h2>
</div>
<div class="row">
  <div class="column left">
  <h3> Problem Statement: </h3>
    <p>
        To predict whether Income of a person lies in the category of "<=50K" or ">50k" by training the model with different Machine Learning 
        classification algorithms using the given columns of information.
    </p>
    <h4>
        About Dataset:
    </h4>
    <p>
        Adult Income dataset was extracted by Barry Becker from 1994 US Census Database.This dataset consists of anonymous information such as
        age, occupation, education, race, work class, native_country, capital gain and loss and census income of two categories i.e, ">50K" or 
        "<=50K".
    
    <h4> End Goal: </h4>
    <p>
        Get the best algorithm model that predicts the Annual Income the best and Save that Model for future Deployement.
    </p>
    </p>

</div>
  <div class="column middle">
    <h3>
        Variable Description:
    </h3>
    <table style="width:100%;">
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>Age</td>
        <td>Age</td>
    </tr>
    <tr>
        <td>Work Class</td>
        <td>Work Catetegory</td>
    </tr>
    <tr>
        <td>fnlwgt</td>
        <td>Final Weight</td>
    </tr>
    <tr>
        <td>Education</td>
        <td>Highest Education Persued</td>
    </tr>
    <tr>
        <td>Education Number</td>
        <td>Number Acc. to Education</td>
    </tr>
    <tr>
        <td>Marital Status</td>
        <td>Marital Status</td>
    </tr>
    <tr>
        <td>Occupation</td>
        <td>Occupation</td>
    </tr>
    <tr>
        <td>Relationship</td>
        <td>Each Adult's Relation in their family</td>
    </tr>
    <tr>
        <td>Race</td>
        <td>Race of individual</td>
    </tr>
    <tr>
        <td>Sex</td>
        <td>Gender of Individual</td>
    </tr>
    <tr>
        <td>Capital Gain</td>
        <td>Capital Gain of Adult</td> 
    </tr>
    <tr>
        <td>Capital Loss</td>
        <td>Capital Loss of Adult</td>
    </tr>
    <tr>
        <td>Hours per Week</td>
        <td>Individual Adult's Working Hours per Week</td>
    </tr>
    <tr>
        <td>Native Country</td>
        <td>Native Country</td>
    </tr>
    <tr>
        <td>Census Income</td>
        <td>Annual Income of Adult</td>
    </tr>
    </table>
</div>
  <div class="column right">
    <h3> Predict Category of Annual Income: </h3>
    <form action="/" method="POST">
    <input type="number" name="Age" min="0" max="100" placeholder="Age" required="required"/>
    <select name="Work Class" required="required">
        <option value="">Select Work Class</option>   
        <option value="Private">Private</option>
        <option value="State-gov">State Government</option>
        <option value="Self-emp-not-inc">Self Employed Not Included</option>
        <option value="Federal-gov">Federal Government</option>
        <option value="Local-gov">Local Government</option>
        <option value="Self-emp-inc">Self Employed Included</option>
        <option value="Never-worked">Never Worked</option>
    </select>
    <select name="Education" required="required">
        <option value="">Select Education</option>
        <option value="1">Preschool</option>
        <option value="2">1st-4th</option>
        <option value="3">5th-6th</option>
        <option value="4">7th-8th</option>
        <option value="5">9th</option>
        <option value="6">10th</option>
        <option value="7">11th</option>
        <option value="8">12th</option>
        <option value="9">HS-grad</option>
        <option value="10">Some College</option>
        <option value="11">Assoc-voc</option>
        <option value="12">Assoc-acdm</option>
        <option value="13">Bachelors</option>
        <option value="14">Masters</option>
        <option value="15">Prof-school</option>
        <option value="16">Doctorate</option>
    </select>
    <select name="Marital Status" required="required">
        <option value="">Select Marital Status</option>   
        <option value="Married-civ-spouse">Married Civic Spouse</option>
        <option value="Married-AF-spouse">Married AF Spouse</option>
        <option value="Married-spouse-absent">Married Spouse Absent</option>
        <option value="Never-married">Never Married</option>
        <option value="Divorced">Divorced</option>
        <option value="Separated">Separated</option>
        <option value="Widowed">Widowed</option>
    </select>
    <select name="Occupation" required="required">
        <option value="">Select Occupation</option>  
        <option value="Adm-clerical">Administrative Clerical</option>
        <option value="Exec-managerial">Executive Managerial</option>
        <option value="Handlers-cleaners">Handlers cleaners</option>
        <option value="Prof-specialty">Professional Specialty</option>
        <option value="Sales">Sales</option>
        <option value="Craft-repair">Craft Repair</option>
        <option value="Transport-moving">Transport Moving</option>
        <option value="Farming-fishing">Farming/Fishing</option>
        <option value="Machine-op-inspct">Machine Operating Inspect</option>
        <option value="Tech-support">Technical Support</option>
        <option value="Protective-serv">Protective Service</option>
        <option value="Armed-Forces">Armed Forces</option>
        <option value="Priv-house-serv">Private House Service</option>
        <option value="Other-service">Other Service</option>
    </select>
    <select name="Relationship" required="required">
        <option value="">Select Relationship</option>   
        <option value="Not-in-family">Not In Family</option>
        <option value="Husband">Husband</option>
        <option value="Wife">Wife</option>
        <option value="Own-child">Own Child</option>
        <option value="Unmarried">Unmarried</option>
        <option value="Other-relative">Other Relative</option>
    </select>
    <select name="Race" required="required">
        <option value="">Select Race</option>
        <option value="White">White</option>
        <option value="Black">Black</option>
        <option value="Other">Asian Pac Islander</option>
        <option value="Other">Amer Indian Eskimo</option>
        <option value="Other">Other</option>
    </select>
    <select name="Sex" required="required">
        <option value="">Select Gender</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
    </select>
    <input type="number" name="Capital Gain" min="0" placeholder="Capital Gain" required="required"/>
    <input type="number" name="Capital Loss" min="0" placeholder="Capital Loss" required="required"/>
    <input type="number" name="Hours per Week" min="0" placeholder="Hours per Week" required="required"/>
    <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form> 
    <h3>{{prediction}}</h3>
</div>
</div>
<div class="footer"></div>
</body>
</html>
